body{
  margin: 0px;
  background-color: #deeff7
}

#topo{
  margin-top: 0px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #7ec5fb;
  top: 118px
 }

h1{
  align-items: center;
  text-align: center;
  color: #131173;
}

#links{
   font-family: 'Verdana';
   margin-top: 0px;
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 33%;
   text-align: top;
   padding-left: 30px;
   padding-right: 30px;
     
}

#botao{
  font-family: Tormenta;
  border-radius: 40px 0px 0px 40px;
  border: 0px;
  background-color: #7ec5fb;
  width: 100px;
  height: 25px;
  font-weight: 700; 
  padding: 5px;
  text-align: center;
  
}
#botao:hover{
  background-color: #348ddf;
    cursor: pointer;
    color: #f8f7f1;
}

#estrela{
  color: #7ec5fb;
}

#estrela:hover{
  color: #348ddf;
  cursor: pointer;
   
}
